<div class="row">
  <div class="col-md-8">
    🖊️{{quote.author}} |🕘{{quote.completeDate|dateCount}} days ago
  </div>
  <div class="col-md-2">
    <button class=" btn btn-outline-info" (click)='voteUp()' type="submit">
      <span class="badge">{{upvote}}👍</span>
    </button>
  </div>
  <div class="col-md-2">
    <button (click)='voteDown()' class="btn btn-outline-info" type="submit">
      <span class="badge">{{downvote}}👎</span>
    </button>
  </div>
</div>
<button class="btn btn-outline-danger" (click)='quoteDelete(true)'>❌</button>
