<div class="container bg-info">
  <h1 class="text-light">Inspiring quotes</h1>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="my-quote" *ngFor='let q of Quotes;let i = index'>
        <div class="content">
          <p appStrikethrough>{{q.quote}}</p>
          <button class="btn btn-outline-info" (click)='toggleDetails(i)'>Details</button>
        </div>
        <div *ngIf='q.showDescription'>
          <app-quote-details [quote]='q' (isComplete)='deleteQuote($event,i)'>
          </app-quote-details>
        </div>

      </div>
    </div>
    <div class="col-md-6">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
  </div>
</div>
