/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

* {
    margin: 20px 30px 0px 30px;
    padding: 0px 16px 0px 16px;
  }
  
  html {
    background-image: url("assets/images/bg1.jpg");
    background-attachment: fixed;
    background-size: cover;
  }