/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    margin: 20px 10px 0px 10px;
    padding: 0px 16px 0px 16px;
    background-image: url("assets/images/bg.jpg");
    background-attachment: fixed;
    /* background-size: cover; */
  }
  .container{
    padding: 20px;
    height: 800px;
    border-radius: 10px;
    background-color: rgba(44, 62, 80,1.0);
    box-shadow: 0 0 50px 0 rgba(253, 203, 110,0.2);
  }
  .my-quote{
   
    margin: 10px;
    padding: 10px;
    background-color: bisque;
    border-radius: 10px;
    border-left: 10px solid #fdcb6e;
  }