/* You can add global styles to this file, and also import other style files */
  
  body {
    width: 80%;
    position: absolute;
    background-image: url("assets/images/bg1.jpg");
    margin-left: 10%;
  }